<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Add Escalation Matrix</h3>
					<%=render'layouts/breadcrumbs'%>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
                 <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
                <input type="hidden" name="curemcode" id="curemcode" value="<% if @ListEscalationMatrix %><%=@ListEscalationMatrix.em_code%><% end %>"/>
                <input type="hidden" name="mid" id="mid" value="<% if @ListEscalationMatrix %><%=@ListEscalationMatrix.id%><% end %>"/>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group row">
					
					<label class="col-form-label col-md-2"> Code <span class="mandatory">*</span></label>
					<div class="col-md-3">
						<input type="text" readonly required maxlength="30" autocomplete="off" class="form-control" name="em_code" id="em_code" value="<% if @ListEscalationMatrix %><%=@ListEscalationMatrix.em_code%><% elsif @lastcodes %><%=@lastcodes%><% end %>"/> </div>
						<label class="col-form-label col-md-2"> Name <span class="mandatory">*</span></label>
					<div class="col-md-3">
						<input type="text" required maxlength="60" autocomplete="off" autofocus="" class="form-control" name="em_name" id="em_name" value="<% if @ListEscalationMatrix %><%=@ListEscalationMatrix.em_name%><% end %>"/> </div>
				</div>
                <div class="form-group row">
                <label class="col-form-label col-md-2">Status <span class="mandatory">*</span></label>
                <div class="col-md-3">
                    <select required autocomplete="off" class="form-control" name="em_status" id="em_status">
                                              <option value="">-Select</option>
                                              <option value="Y" <% if @ListEscalationMatrix && @ListEscalationMatrix.em_status.to_s == 'Y' %>selected="selected"<% end %>>Yes</option>
                                              <option value="N" <% if @ListEscalationMatrix && @ListEscalationMatrix.em_status.to_s == 'N' %>selected="selected"<% end %>>No</option>
                                            </select>
                                    </div>
                </div>
				
				<div class="submit-section">
					<button class="btn btn-primary submit-btn">Save</button>
					<a href="<%=root_url%>escalation_matrix"><button class="btn btn-danger submit-btn m-l-5 " type="button">Quit</button></a>
				</div>
			</div>
		</div>
                <% end %>
	</div>
	<!-- /Page Content -->
</div>