  <!-- Page Wrapper -->
            <div class="page-wrapper">
      
        <!-- Page Content -->
                <div class="content container-fluid">
        
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                   <h3 class="page-title"> Sewadar M.A View</h3>
          <%=render'layouts/breadcrumbs'%>
              </div>
                         </div>
          </div>
          <!-- /Page Header -->
           <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
          <!-- Leave Statistics -->
          

          <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
          <input type="hidden" id="rootXPath" value="<%=root_url%>"/>
          <input type="hidden" id="requestserver" name="requestserver" value="Y"/>
                        
          <!-- <p>Date: <input type="text" id="datepicker"></p> -->

          <div class="form-group row">
          
          <label class="col-form-label col-md-2">Department<span class="mandatory">*</span></label>
          <div class="col-md-3">
           
         <select class="form-control" required name="ls_depcode"  id="al_depcode" onchange="get_all_sewadar_by_department();">
               <%
                if @markedAllowed
              %>
              <option value="">-Select-</option>
              <% end %>
              <%
               if @sewDepart && @sewDepart.length >0
                @sewDepart.each do |newdp|
              %>
              <option value="<%=newdp.departCode%>" <% if @deprtcode && @deprtcode.to_s.downcase == newdp.departCode.to_s.downcase %>selected="selected" <% end %>><%=newdp.departDescription%></option>
              <%
                end
              end
             %>
            </select>
            
          </div>
         <label class="col-form-label col-md-1 hidden">Code<span class="mandatory">*</span></label>
          <div class="col-md-2 hidden">

            <select class="form-control" required  name="al_sewadarcode"  id="al_sewadarcode" onchange="fill_from_sewadar_listed('code');">
               <%
                if @allowedCaseduser
              %>
                 <option value="">-Select-</option>
              <% end %>
              <%
               if @newsewdarList && @newsewdarList.length >0
                @newsewdarList.each do |newswd|
              %>
              <option value="<%=newswd.sw_sewcode%>" <% if @search_sewadar && @search_sewadar.to_s.downcase == newswd.sw_sewcode.to_s.downcase %>selected="selected" <% end %>><%=newswd.sw_sewcode%></option>
              <%
              end
             end
             %>

            </select>
          </div>

<label class="col-form-label col-md-1">Sewadar<span class="mandatory">*</span></label>
          <div class="col-md-3">

                  <select class="form-control" autofocus="" required name="ls_empcode" id="alsewdarname" >
                     <%
                if @allowedCaseduser
              %>
              <option value="">-Select-</option>
              <% end %>
                    <%
                     if @newsewdarList && @newsewdarList.length >0
                      @newsewdarList.each do |newswd|
                    %>
                    <option value="<%=newswd.sw_sewcode%>" <% if @empcode && @empcode.to_s.downcase == newswd.sw_sewcode.to_s.downcase %>selected="selected" <% end %>><%=newswd.sw_sewadar_name%></option>
                    <%
                    end
                   end
                   %>
                    </select>

          </div></div>
          <div class="form-group row">
          
          <label class="col-form-label col-md-2">From ( Month & Year )</label>
          <div class="col-md-2">
           
         <input class="form-control" required name="from_month"  id="from_month" value="<% if @fromdated %><%=@fromdated%><% end %>"/>
             
            
          </div>
         <label class="col-form-label col-md-2">Upto ( Month & Year) </label>
          <div class="col-md-2">

            <input class="form-control" required  name="from_uptomonth" required id="from_uptomonth" value="<% if @uptodated %><%=@uptodated%><% end %>"/ >
              
          </div>
<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<a href="javascript:;" onclick="filter_listed_leaves();" class="btn btn-success btn-block"> <i class="fa fa-search"></i> Search </a>
					   </div>   
          </div>
          
<% end %>
    
          <!-- /Leave Statistics -->
          
          <div class="row">
             
              <div class="col-md-12">
              <br/>
                  <h4 style="text-align:left">M.A View</h4>
                  
                  <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable tb-pd">
                  <thead>
                  <tr>
                  <th colspan="7"></th> 
                  <th colspan="7">Deductions</th> 
                  <th></th> 
                  </tr>
                    <tr>
                      <th>S.No</th>   
                      <th>Month</th>              
                      <th>Year</th>
                      <th>M.A</th>
                      <th>Paid M.A</th>
                      <th>Arrear</th>
                      <th>Paid Days</th>
                      <th>Absent</th>
                      <th>LIC</th>
                      <th>Building</th>
                      <th>Electricity</th>
                      <th>Income Tax</th>
                      <th>Health</th>
                      <th>Repaid</th>
                      <th>Net Pay</th>
                     </tr>
                  </thead>
                  <tbody>
                      <%
                      totalma     = 0
                      tptalactual = 0
                      totalarea   = 0
                      tlic        = 0
                      taccamt     = 0
                      telect      = 0
                      ttaxamt     = 0
                      thealhs     = 0
                      trepaid     = 0
                      tnetpay     = 0
                      i = 1
                      if  @ListSearch &&  @ListSearch !=nil
                         @ListSearch.each do |newitems|
                            totalma     += newitems.pm_actbasic.to_f
                            tptalactual += newitems.pm_basic.to_f
                            totalarea   += newitems.pm_fixarear.to_f
                            tlic        += newitems.pm_ded_licemployee.to_f
                            taccamt     += newitems.pm_dedaccomodatamount.to_f
                            telect      += newitems.pm_ded_electricamount.to_f
                            ttaxamt     += newitems.pm_incometaxamount
                            thealhs     += newitems.pm_ded_healthsewdarpay
                            trepaid     += (newitems.pm_ded_repaidadvance.to_f+newitems.pm_ded_repaidloan.to_f).to_f
                            tnetpay     += newitems.pm_netpay.to_f
                      %>
                    <tr>
                      <td><%=i%></td>
                      <td><%=newitems.pm_paymonth%></td>
                      <td><%=newitems.pm_payyear%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_actbasic)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_basic)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_fixarear)%></td>
                      <td><%=newitems.pm_paydays%></td>
                      <td><%=newitems.pm_absent%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_ded_licemployee)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_dedaccomodatamount)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_ded_electricamount)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_incometaxamount)%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_ded_healthsewdarpay)%></td>
                      <td class="text-right"><%=currency_formatted((newitems.pm_ded_repaidadvance.to_f+newitems.pm_ded_repaidloan.to_f))%></td>
                      <td class="text-right"><%=currency_formatted(newitems.pm_netpay)%></td>
                      
                    </tr>
                    <%
                       i +=1
                       end
                       
                      %>
                       <tr>
                      <td>Total</td>
                      <td></td>
                      <td></td>
                      <td class="text-right"><%=currency_formatted(totalma)%></td>
                      <td class="text-right"><%=currency_formatted(tptalactual)%></td>
                      <td class="text-right"><%=currency_formatted(totalarea)%></td>
                      <td></td>
                      <td></td>
                      <td class="text-right"><%=currency_formatted(tlic)%></td>
                      <td class="text-right"><%=currency_formatted(taccamt)%></td>
                      <td class="text-right"><%=currency_formatted(telect)%></td>
                      <td class="text-right"><%=currency_formatted(ttaxamt)%></td>
                      <td class="text-right"><%=currency_formatted(thealhs)%></td>
                      <td class="text-right"><%=currency_formatted(trepaid)%></td>
                      <td class="text-right"><%=currency_formatted(tnetpay)%></td>
                      
                    </tr>
                     <% 
                      else
                    %>
                    
                    <tr>
                      <td colspan="3">No record(s) found.</td>
                      
                    </tr>
                     <% end %>
                    <tr>
                      <td colspan="6"style="color: red;">*This Screen Managing View Log File.</td>
                      
                    </tr>
                   
                     
                    </tbody>
                </table>
              
              </div>
                
              </div>
              
            
          </div>
                </div>
        <!-- /Page Content -->
       
        
            </div>
      <!-- /Page Wrapper -->