	<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Dispatch</h3>
								 <%=render'layouts/breadcrumbs'%>
							</div>
							
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Leave Statistics -->
					<div class="row hidden">
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Today Presents</h6>
								<h4>12 / 60</h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Planned Leaves</h6>
								<h4>8 <span>Today</span></h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Unplanned Leaves</h6>
								<h4>0 <span>Today</span></h4>
							</div>
						</div>
						<div class="col-md-3">
							<div class="stats-info">
								<h6>Pending Requests</h6>
								<h4>12</h4>
							</div>
						</div>
					</div>
					<!-- /Leave Statistics -->
					<%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
                            <input type="hidden" id="userXRoot" value="<%=root_url%>"/>
                            <input type="hidden" id="requestserver" name="requestserver" value="Y"/>
					<!-- Search Filter -->
					<div class="row filter-row">
					     <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
              <div class="form-group form-focus select-focus">
                <select class="form-control" name="voucher_department" id="voucher_department" <% if session[:autherizedUserType].to_s == 'spt' %>disabled<% end%>>
                                                                  <option value=""> -- Select -- </option>
                                                                    <%
                                                                     if @sewDepart && @sewDepart.length >0
                                                                     @sewDepart.each do |depts|
                                                                  %>
                                                                    <option value="<%=depts.departCode%>" <% if @voucher_department && @voucher_department.to_s.downcase == depts.departCode.to_s.downcase%>selected="selected"<% end %>><%=depts.departDescription%></option>
                                                                  <%
                                                                   end
                                                                 end
                                                                 %>

                </select>
                <label class="focus-label">Department</label>
              </div>
           </div>
					   <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating" type="text" name="search_fromdated" id="search_fromdated" value="<% if @search_fromdated %><%=format_oblig_date(@search_fromdated)%><% end %>"/>
								</div>
								<label class="focus-label">From</label>
							</div>
						</div>
					   <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating" type="text" name="search_uptodated" id="search_uptodated" value="<% if @search_uptodated %><%=format_oblig_date(@search_uptodated)%><% end %>"/>
								</div>
								<label class="focus-label">To</label>
							</div>
						</div>
						
					   <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<div class="form-group form-focus select-focus">
								<select class="form-control" name="leave_code" id="leave_code">
                                                                  <option value=""> -- Select -- </option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                                                                            
								</select>
								<label class="focus-label">Post By</label>
							</div>
					   </div>
					   <div class="col-md-2  m-t-5" style="font-size:11px">
  <input type="checkbox" name="sewadar_accorddated" value="Y">&nbsp;Charges not entered
</div>
					   <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<a href="javascript:;" onclick="filter_approval_leaves();" class="btn btn-success btn-block"> <i class="fa fa-search"></i> Search</a>
					   </div> 
					   
              </div>
               <div class="row filter-row">
                      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">
                                              <div class="btn-group btn-group-sm">
                  <a class="btn btn-white" href="javascript:;" onclick=""><img src="https://naman.inqhrm.com/images/excel.png" width="40" height="40"></a>
                  </div>
                  
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">
                  <a href="<%=root_url%>postal/dispatch_entry" class="btn add-btn float-left" style="text-transform:capitalize"><i class="fa fa-plus" aria-hidden="true"></i> Dispatch Entry</a>
                  </div>
                    </div>
                                        <% end %>
					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>Entry No. <br>Date</th>
											<th>Department</th>
											<th>Name<br>Subject</th>
											<th>Post by</th>
											<th>Charges</th>
                                            <th class="text-center">Action</th>
                                        </tr>
									</thead>
									<tbody>
                                                                           <%
                                                                          unlinkimg = "#{root_url}assets/img/profiles/avatar-09.jpg"
                                                                           if @ApplyLeaves && @ApplyLeaves.length >0
                                                                            @ApplyLeaves.each do |aplleave|
                                                                              lsobj = get_leavemaster_detail(aplleave.ls_leave_code)
                                                                              leavsnm = ""
                                                                              if lsobj
                                                                                leavsnm = lsobj.attend_leavetype
                                                                              end
                                                                              sewdar      = ""
                                                                              lds_profile = ""
                                                                              desicode    = ""
                                                                              sewnmaesobj = get_mysewdar_list_details(aplleave.ls_empcode)
                                                                              if sewnmaesobj                                                                                  
                                                                                  lds_profile = sewnmaesobj.sw_image
                                                                                  sewdar      = sewnmaesobj.sw_sewadar_name
                                                                                  desicode    = sewnmaesobj.sw_desigcode
                                                                              end
                                                                              desiname = ""
                                                                              sewdesobj = get_sewdar_designation_detail(desicode)
                                                                              if sewdesobj
                                                                                desiname = sewdesobj.ds_description
                                                                              end
                                                                             linkimages =  get_link_image(lds_profile,"public/images/sewadar",unlinkimg)
                                                                            %>
										<tr>
											<td></td>
											<td></td>
											<td></td>
											<td class="text-center"></td>
                                            <td class="text-center"></td>
                                            <td class="text-center"></td>
											
										</tr>
                                                                              <%
                                                                                 end
                                                                              else
                                                                               %>
                                                                                <tr>
                                                                                  <td colspan="6">
                                                                                    No record(s) found.
                                                                                  </td>
                                                                                
                                                                                </tr>
                                                                                <% end %>
										
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<!-- Add Leave Modal -->
				<div id="add_leave" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Leave</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label>Leave Type <span class="text-danger">*</span></label>
										<select class="select">
											<option>Select Leave Type</option>
											<option>Casual Leave 12 Days</option>
											<option>Medical Leave</option>
											<option>Loss of Pay</option>
										</select>
									</div>
									<div class="form-group">
										<label>From <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>To <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>Number of days <span class="text-danger">*</span></label>
										<input class="form-control" readonly type="text">
									</div>
									<div class="form-group">
										<label>Remaining Leaves <span class="text-danger">*</span></label>
										<input class="form-control" readonly value="12" type="text">
									</div>
									<div class="form-group">
										<label>Leave Reason <span class="text-danger">*</span></label>
										<textarea rows="4" class="form-control"></textarea>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Leave Modal -->
				
				<!-- Edit Leave Modal -->
				<div id="edit_leave" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Leave</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label>Leave Type <span class="text-danger">*</span></label>
										<select class="select">
											<option>Select Leave Type</option>
											<option>Casual Leave 12 Days</option>
										</select>
									</div>
									<div class="form-group">
										<label>From <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" value="01-01-2019" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>To <span class="text-danger">*</span></label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" value="01-01-2019" type="text">
										</div>
									</div>
									<div class="form-group">
										<label>Number of days <span class="text-danger">*</span></label>
										<input class="form-control" readonly type="text" value="2">
									</div>
									<div class="form-group">
										<label>Remaining Leaves <span class="text-danger">*</span></label>
										<input class="form-control" readonly value="12" type="text">
									</div>
									<div class="form-group">
										<label>Leave Reason <span class="text-danger">*</span></label>
										<textarea rows="4" class="form-control">Going to hospital</textarea>
									</div>
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Leave Modal -->

				<!-- Approve Leave Modal -->
				<div class="modal custom-modal fade" id="approve_leave" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Leave Approve</h3>
									<p>Are you sure want to approve for this leave?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Approve</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Decline</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Approve Leave Modal -->
				
				<!-- Delete Leave Modal -->
				<div class="modal custom-modal fade" id="delete_approve" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Leave</h3>
									<p>Are you sure want to delete this leave?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Leave Modal -->
				
            </div>
			<!-- /Page Wrapper -->