<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Periodic Report</h3>
					<%=render'layouts/breadcrumbs'%>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
                 <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myForms ) do  %>
               
                <input type="hidden" id="userXRoot" value="<%=root_url%>"/>
		<div class="row">
			<div class="col-md-12">
			 <div class="form-group row">
          <label class="col-form-label col-md-2">From Date</label>
          
          <div class=" col-md-3 ">
         <input type="text" autocomplete="false"  class="form-control" name="fromdate" id="fromdate" value="<% if @fromdate!=nil %><%=formatted_date(@fromdate)%><% else %><%=formatted_date(@nbegindates)%><% end %>"/>
          </div>

        
             <label class="col-form-label col-md-2">Upto Date</label>
            
          <div class=" col-md-3 ">
          <input type="text" autocomplete="false" class="form-control" name="uptodate" id="uptodate" value="<% if @uptodate!=nil %><%=formatted_date(@uptodate)%><% else %><%=formatted_date(@enddates)%><% end %>"/>
          </div>


          </div>
			
				<div class="form-group row">
					
					<label class="col-form-label col-md-2"> Select Department </label>
					<div class="col-md-3">
					<select class="form-control" name="sewadar_departments" id="al_depcode" onchange="get_all_sewadar_by_department();">
                                        <option value="">-Select -</option>
                                        <%
                                          mydepartlist = get_sewa_all_department()
                                          if mydepartlist.length >0
                                           mydepartlist.each do |nedpts|
                                        %>
                                        <option value="<%=nedpts.departCode%>" <% if @sewadar_departments && @sewadar_departments.to_s.strip == nedpts.departCode.to_s.strip %>selected="selected"<% end %> ><%=nedpts.departDescription%></option>
                                        <%
                                           end
                                         end

                                         %>

                                        </select>
				</div>
				<label class="col-form-label col-md-2"> Sewadar Code </label>
					<div class="col-md-3">
						<select class="form-control" required name="al_sewadarcode" id="al_sewadarcode" onchange="fill_from_sewadar_listed('code');">
             
              <%
              if @markedFieldAlw
             %>
               <option value="">-Select-</option>
              <% end %>
              <%
               if @Allsewobj && @Allsewobj.length >0
                @Allsewobj.each do |sewdnm|
              %>
              <option value="<%=sewdnm.sw_sewcode%>" <% if @LoanRequest && @LoanRequest.al_sewadarcode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %> ><%=sewdnm.sw_sewcode%></option>
              <%
                end
              end
             %>
            </select>
            </div>
				</div>
				<div class="form-group row">
					
					<label class="col-form-label col-md-2"> Sewadar Name</label>
					<div class="col-md-3">
						<select required class="form-control" name="sewdarname" id="alsewdarname" onchange="fill_from_sewadar_listed('sewadar');">
              <%
              if @markedFieldAlw
             %>
               <option value="">-Select-</option>
              <% end %>
              <%
               if @Allsewobj && @Allsewobj.length >0
                @Allsewobj.each do |sewdnm|
              %>
              <option value="<%=sewdnm.sw_sewcode%>" <% if @LoanRequest && @LoanRequest.al_sewadarcode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %>><%=sewdnm.sw_sewadar_name%></option>
              <%
                end
              end
             %>
            </select> 
              </div>
             

					</div>
         
        <br><br>
                          <div class="form-group row" style="text-align: center">

                              <div class="col-md-12">
																
                              <label for="mylic" class="rad-btn"> <input type="radio" checked name="monthly_deduction" id="mylic" value="BLMW"/>&nbsp
															Certificate for Bank loan month wise  </label>
                            
																<%# <label for="mylic1" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic1" value="BUILD"/>&nbsp;
																	Certificate for No objection & Tourist visa with SNM Accommodation  </label> %>
																
                                       	<%# 	<label for="mylic4" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic4" value="HEAL"/>&nbsp;
																				POLICE VERIFICATION</label>
                                        	<label for="mylic4" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic4" value="HEAL"/>&nbsp;
																				POLICE VERIFICATION</label> %>
                              </div>
                          </div>
				<div class="submit-section">
				
                  
                    <a href="javascript:;" rel="<%=@printPath%>" id="printexceled" onclick="print_salary_excel_register();"><button class="btn btn-success submit-btn m-l-5 " type="button">Print</button></a>
					
					<a href="<%=root_url%>sewadar_information"><button class="btn btn-danger submit-btn m-l-5 " type="button">Quit</button></a>
				</div>
			</div>
		</div>
                <% end %>
                 
	</div>
	<!-- /Page Content -->
</div>