<!-- Page Wrapper -->
<div class="page-wrapper">
	<!-- Page Content -->
	<div class="content container-fluid">
		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Facilities List</h3>
					<%=render'layouts/breadcrumbs'%>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
                 <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myForms ) do  %>
               
                <input type="hidden" id="userXRoot" value="<%=root_url%>"/>
		<div class="row">
			<div class="col-md-12">
			
				
				<div class="form-group row">
					
					<label class="col-form-label col-md-2"> Select Department </label>
					<div class="col-md-3">
					<select class="form-control" name="sewadar_departments" id="sewadar_departments">
                                        <option value="">-Select -</option>
                                        <%
                                          mydepartlist = get_sewa_all_department()
                                          if mydepartlist.length >0
                                           mydepartlist.each do |nedpts|
                                        %>
                                        <option value="<%=nedpts.departCode%>" <% if @sewadar_departments && @sewadar_departments.to_s.strip == nedpts.departCode.to_s.strip %>selected="selected"<% end %> ><%=nedpts.departDescription%></option>
                                        <%
                                           end
                                         end

                                         %>

                                        </select>
				</div>
				<label class="col-form-label col-md-2"> Select Category </label>
					<div class="col-md-3">
						<select class="form-control" name="sewadar_categories" id="sewadar_categories">
                                                <option value="">-Select-</option>
                                                <%
                                                if @sewadarCategory.length >0
                                                @sewadarCategory.each do |newcats|
                                                %>
                                                <option value="<%=newcats.sc_name%>" <% if @sewadar_categories && @sewadar_categories.to_s.strip == newcats.sc_name.to_s.strip %>selected="selected"<% end %> ><%=newcats.sc_name%></option>
                                                <%
                                                end
                                                end
                                                %>

</select></div>
				</div>
				<div class="form-group row">
					
					<label class="col-form-label col-md-2"> Search according</label>
					<div class="col-md-3">
						<select class="form-control" name="sewadar_codetype" id="sewadar_codetype">
                                              <option value="mycode" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'mycode' %>selected="selected"<% end %> >Sewadar Code</option>
                                              <option value="myrefcode" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myrefcode' %>selected="selected"<% end %> >Reference/Old Code</option>
                                              <option value="myname" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myname' %>selected="selected"<% end %>>Name</option>
                                              <option value="myemail" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myemail' %>selected="selected"<% end %>>Email</option>
                                              <option value="mymobile" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'mymobile' %>selected="selected"<% end %>>Mobile</option>

                                              </select>
</div>
						
					<div class="col-md-3">
							<input type="text" placeholder="Code,Old Code,Name,Email" class="form-control floating" name="sewadar_string" id="sewadar_string" value="<% if @sewadar_string %><%=@sewadar_string%><% end %>"/>
    </div>
				
                         
				  
				</div>
        	<%# <div class="form-group row">
        	<div class="col-md-4">
						<input type="Checkbox"  style="width: 20px;height: 20px;" name="all_category" id="all_category" value="ALLCATEGORY"/>	<span>	Show All Category Data<span>
    </div>
    </div> %>
        <br><br>
                          <div class="form-group row" style="text-align: center">

                              <div class="col-md-12">
																<label for="mylic" class="rad-btn"> <input type="radio" checked name="monthly_deduction" id="mylic" value="LIC"/>&nbsp
																LIC</label>
																<label for="mylic1" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic1" value="BUILD"/>&nbsp;
																	Building</label>
																	<label for="mylic2" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic2" value="ELEC"/>&nbsp;
																		Electric</label>
																		<%# <label for="mylic3" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic3" value="ADVL"/>&nbsp;
																			Advance </label> %>
																			<label for="mylic4" class="rad-btn">
                                &nbsp;<input type="radio" name="monthly_deduction" id="mylic4" value="HEAL"/>&nbsp;
																				Health</label>
                              </div>
                          </div>
				<div class="submit-section">
				
                  
                    <a href="javascript:;" rel="<%=@printPath%>" id="printexceled" onclick="print_others_register();"><button class="btn btn-success submit-btn m-l-5 " type="button">Print</button></a>
					
					<a href="<%=root_url%>sewadar_information"><button class="btn btn-danger submit-btn m-l-5 " type="button">Quit</button></a>
				</div>
			</div>
		</div>
                <% end %>
	</div>
	<!-- /Page Content -->
</div>