<!-- BEGIN CONTAINER -->
<div>
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<%= render "layouts/portlet-config" %>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN STYLE CUSTOMIZER -->
			<%= render "layouts/theme-panel" %>
			<!-- END BEGIN STYLE CUSTOMIZER -->
			<!-- BEGIN PAGE HEADER-->
			<!--h3 class="page-title">
			Setting
			</h3-->
			<% if flash[:error] %>
                         <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           <%= flash[:error] %>
                         </div>
                        <% end %>
			<%= render "layouts/breadcrumbs" %>
			<%= form_tag({:action=>'product_category'} ,:multipart=>true,:id=>'myForms' ) do  %>
			<input type="hidden" name="prductparamId" id="prductparamId"/>
			<input type="hidden" name="productServer" id="productServer" value=""/>
			<input type="hidden" id="rootXPath" value="<%=root_url%>"/>
			<input type="hidden" name="takencategory" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_categoryname%><% end %>"/>
			<!------------------text Being-------------->
			  <div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
							<div class="portlet-body">
				     <div class="row">
				    <div class="col-md-12">
					<div class="col-md-2">
					Cat. Name <span class="hrms_flag">[*]</span>
					</div>
					<div class="col-md-3">
					<input type="text" placeholder="" required maxlength="60" required class="form-control text_input " name="pc_categoryname" id="pc_categoryname" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_categoryname%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_categoryname']%><% end%>"/>
					</div>
                                        <div class="col-md-2">
					<input type="checkbox" name="addonItem" id="addonItem" value="Y" onclick="add_on_product_services();" <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %> checked="checked"<% end %>/>&nbsp;More Tax
					</div>
					</div>
				</div>
				
				<div class="row">
				    <div class="col-md-12">
					<div class="col-md-2">
					HSN Code
					</div>
					<div class="col-md-3">
					<input type="text" placeholder="" maxlength="10" class="form-control" name="pc_hsncode" id="pc_hsncode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_hsncode%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_hsncode']%><% end %>"/>
					</div>
					<div class="col-md-2 pc_lessamount <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %><% else %>hidden<% end %>">
					If Amount <=
					</div>
					<div class="col-md-2 pc_lessamount <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %><% else %>hidden<% end %>">
					<input type="text" placeholder="" maxlength="7" class="form-control" name="pc_lessamount" id="pc_lessamount" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_lessamount%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_lessamount']%><% end %>" onkeypress="return isNumberFloatKey(event)"/>
					</div>
					
					</div>
				</div>
				<div class="row">
				    <div class="col-md-12">
					<div class="col-md-2">
					IGST (%)
					</div>
					<div class="col-md-3">
					<input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_igstcode" id="pc_igstcode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_igstcode%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_igstcode']%><% end %>" onkeypress="return isNumberFloatKey(event)" onkeyup="gst_rule_for_sgst_csgst(this.value);"/>
					</div>
                                        <div class="col-md-3 pc_lessamount <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %><% else %>hidden<% end %>">
					<input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_igstless" id="pc_igstless" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_igstless%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_igstless']%><% end %>" onkeypress="return isNumberFloatKey(event)" onkeyup="less_gst_rule_for_sgst_csgst(this.value);"/>
					</div>
					</div>
				</div>
				<div class="row">
				    <div class="col-md-12">
					<div class="col-md-2">
					CGST(%)
					</div>
					<div class="col-md-3">
					<input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_cgstcode" id="pc_cgstcode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_cgstcode%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_cgstcode']%><% end %>" onkeypress="return isNumberFloatKey(event)"/>
					</div>			
					<div class="col-md-3 pc_lessamount <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %><% else %>hidden<% end %>">
					<input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_cgstless" id="pc_cgstless" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_cgstless%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_cgstless']%><% end %>" onkeypress="return isNumberFloatKey(event)"/>
					</div>
					</div>
				</div>
                                 <div class="row">
				    <div class="col-md-12">
					<div class="col-md-2">
					SGST(%)
					</div>
					<div class="col-md-3">
					  <input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_sgstcode" id="pc_sgstcode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_sgstcode%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_sgstcode']%><% end %>" onkeypress="return isNumberFloatKey(event)"/>
					</div>
                                        <div class="col-md-3 pc_lessamount <% if @isProduct.to_s!='' &&  @isProduct.pc_lessamount.to_f >0 %><% else %>hidden<% end %>">
					<input type="text" placeholder="%" maxlength="3" class="form-control" name="pc_sgstless" id="pc_sgstless" value="<% if @isProduct.to_s!='' %><%=@isProduct.pc_sgstless%><% elsif session[:postedpamams]!=nil%><%=session[:postedpamams]['pc_sgstless']%><% end %>" onkeypress="return isNumberFloatKey(event)"/>
					</div>
                                    </div>
				</div>
				  <%
                                   if session[:LOCKED_EXPIRY] && session[:LOCKED_EXPIRY]=='Y'
                                  %>
                                    <div class="row">
                                            <div class="col-md-12">
                                            <div class="col-md-2">
                                            &nbsp;
                                            </div>
                                            <div class="col-md-2 col-xs-5">
                                             <a href="javascript:;" onclick="product_cat_saving();">
                                                      <img src="<%=root_url%>images/save.png"/>
                                                    </a>
                                            </div>
                                            <div class="col-md-3 col-xs-5">
                                            <a href="<%=root_url%>dashboard">
                                              &nbsp;&nbsp; <img src="<%=root_url%>images/Quit.png"/>
                                                    </a>
                                            </div>
                                            </div>
                                    </div>
                                <% end %>
			</div>
			</div>
			   </div>
			   </div>
				<% end %>
				
				
			<!------------------text End-------------->
			
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
							<div class="portlet-body">
							
							<div class="table-responsive">
							<div class="row">
							<div class="col-md-12">
								<table class="table table-hover">
								<thead>
								<tr class="head_table">
									<th>
										SL. NO.
									</th>
									<th>
										HSN Code
									</th>
									<th>
										Category Name
									</th>
									
                                    <th colspan="2">
									  Action
									</th>
								</tr>
								</thead>
								<tbody>
								<%
                                                                pagestart = params[:page] ? params[:page] : 1
                                                                if pagestart.to_i <=1
                                                                  i = 1
                                                                else
                                                                  i = ((pagestart.to_i-1)*10)+1
                                                                  i = i.to_i
                                                                end
                                                                if @productCategory.count >0
                                                                 @productCategory.each do | pcat |
                                                                %>
									<tr>
									<td id="center">
									<%=i%>
									</td>
									<td>
									<%=pcat.pc_hsncode%>
									</td>
									<td>
									<%=pcat.pc_categoryname%>
									</td>
									
									<td id="center">
									<a href="<%=root_url%>product/product_category/<%=pcat.id%>"><i class="fa fa-pencil-square-o edit hrmsfonts_size" aria-hidden="true"></i></a></td>
									<td>
                        <a href="javascript:void(0);" rel="<%=root_url%>product/product_category/<%=pcat.id%>/deletes" onclick="confirmDeletion(this);"><i class="fa fa-trash-o delete hrmsfonts_size" aria-hidden="true"></i></a>	 
									</td>
									
								</tr>	
								<%
				                 	i +=1
				                 	end
					               else
				                      	%>
					               <tr>
									<td>No Records Found</td>
									</tr>
									<% end %>
								</tbody>
								</table>
								
							<div align="center"><%= will_paginate(@productCategory)%></div>
					<!-- END SAMPLE TABLE PORTLET-->
					</div>
					</div>
							</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->

<!-- END CONTAINER -->


