<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Products</h3>
          <%=render'layouts/breadcrumbs'%>
        </div>
      
    </div>
    <!-- /Page Header -->
  </div>
			<% if flash[:error] %>
                         <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                           <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           <%= flash[:error] %>
                         </div>
                        <% end %>
		
                     
                    

			<!------------------text Being-------------->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
				<div class="portlet">
				<div class="portlet-body">
				<div class="row">

				    <div class="col-md-12">
			<%= form_tag({:action=>'product_master'} ,:multipart=>true,:id=>'myForms' ) do  %>
                          <input type="hidden" name="prductparamId" id="prductparamId"/>
                          <input type="hidden" name="productServer" id="productServer" value=""/>
                          <input type="hidden" id="rootXPath" value="<%=root_url%>"/>
                          <input type="hidden" id="currentProductCode" name="currentProductCode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_productcode%><% end %>"/>
                          <input type="hidden" id="current_barcode" name="current_barcode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_barcode%><% end %>"/>
                          <input type="hidden"  name="currentcb" value="<% if @isclosBal %> <%=@isclosBal.cb_closing_bal%><% end %>"/>
                          <input type="hidden"  name="currentyb" value="<% if @isclosBal %> <%=@isclosBal.cb_opening_bal%><% end %>"/>
                          <input type="hidden" id="currentproductname" name="currentproductname" value="<% if @isProduct!='' %><%=@isProduct.pd_productname%><% end %>"/>
                          <input type="hidden" id="currentcatname" name="currentcatname" value="<% if @isProduct!='' %><%=@isProduct.pd_category%><% end %>"/>
                          <input type="hidden" id="currentbrand" name="currentbrand" value="<% if @isProduct!=''%><%=@isProduct.pd_brand%><% end %>"/>
                          <input type="hidden" name="isproductId" id="isproductId" value="<% if @isProduct!=''%><%=@isProduct.id%><% end %>"/>
                         


                          <div class="row form-group">
					        <label class="col-form-label col-md-2">
					Product Code<span class="mandatory">*</span>
					</label>
					<div class="col-md-3 col-xs-6">
                                          <input type="text" placeholder="" autocomplete="off" tabindex="1"  readonly  onchange="get_product_codes(this);" maxlength="15" class="form-control" name="pd_productcode" id="pd_productcode" value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_productcode%><% elsif @autprodcode!=nil %><%=@autprodcode%><% end %>"/>
                                        
					</div>
                                          
                                           
				 <label class="col-form-label col-md-2">
					Product Name <span class="mandatory">*</span>
					</label>
					<div class="col-md-3 col-xs-6">
					<input type="text" placeholder="" tabindex="3" maxlength="80" class="form-control" name="pd_productname" id="pd_productname" autocomplete="off"  value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_productname%><% elsif session[:postedpamams]!=nil %><%=session[:postedpamams]['pd_productname']%><% end %>" onchange="get_product_name_duplicacy(this.value);"/>
					<span style="color:red;" id="chkproductname"></span>
                                        </div>
										
					</div>
					
					<div class="row">
					
						 <label class="col-form-label col-md-2">
					Bar Code
					</label>
					<div class="col-md-3 col-xs-6">
					<input type="text" placeholder="" tabindex="4" maxlength="16" class="form-control" name="pd_barcode" id="pd_barcode" autocomplete="off"  value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_barcode%><% elsif session[:postedpamams]!=nil %><%=session[:postedpamams]['pd_barcode']%><% end %>"/>
					</div>
                                            <input type="hidden"  name="pd_menu" id="pd_menu" value="N"/>

                                             <label class="col-form-label col-md-2">
					Category
					</label>
					<div class="col-md-3 col-xs-6">
						
							 <select class="form-control " tabindex="5" name="pd_category" id="pd_category" onchange="get_product_category(this.value);">
					<option value="">-Select-</option>
					<%
					if @Prodcat.count >0
					  @Prodcat.each do | pcats |
					%>
						<option value="<%=pcats.id%>" <% if @isProduct.to_s!='' && @isProduct.pd_category == pcats.id %> selected="selected"<% elsif session[:postedpamams]!=nil && session[:postedpamams]['pd_category'].to_i == pcats.id.to_i%>selected="selected"<% end %>><%=pcats.pc_categoryname%></option>
					<% end end %>
					</select>
						</div>
						
                                         
                 <div class="col-md-1 col-xs-1">
							 <a href="javascript:void(0);" style="font-size:20px" title="Add product category" data-toggle="modal" data-target="#myProductCategory" onclick="callFoucsOnModal('pc_categoryname');"><i class="fa fa-plus-circle"></i>   </a>

						</div>

					</div>
					
					<div class="row form-group">
				
					   <label class="col-form-label col-md-2">
					Brand
					</label>
					<div class="col-md-2 col-xs-6">
					
								<select class="form-control " tabindex="6" name="pd_brand" id="pd_brand">
					<option value="">-Select-</option>
					<%
						if @Prodbrand.count >0
						  @Prodbrand.each do | pbrnd |
						%>
						<option value="<%=pbrnd.id%>" <% if @isProduct.to_s!='' && @isProduct.pd_brand == pbrnd.id %> selected="selected"<% elsif session[:postedpamams]!=nil && session[:postedpamams]['pd_brand'].to_i == pbrnd.id.to_i%>selected="selected"<% end %>><%=pbrnd.pb_brandname%></option>
					  <% end end %>
					</select>

			
                                           
					</div>
						<div class="col-md-1 col-xs-1">
                                           <a href="javascript:void(0);" title="Add product brand" data-toggle="modal" data-target="#myProductBrand" onclick="callFoucsOnModal('pb_brandname');" style="font-size:20px"><i class="fa fa-plus-circle"></i>  </a>
                                       </div>

					   <label class="col-form-label col-md-2">
					UOM
					</label>
					<div class="col-md-2 col-xs-6">
					
								 <select class="form-control " required name="pd_uom" id="pd_uom" tabindex="7">
					<option value="">-Select-</option>
						<%
						if @Produom.count >0
						  @Produom.each do | puom |
						%>
						<option value="<%=puom.id%>" <% if @isProduct.to_s!='' && @isProduct.pd_uom == puom.id %> selected="selected"<% elsif session[:postedpamams]!=nil && session[:postedpamams]['pd_uom'].to_i == puom.id.to_i%>selected="selected"<% end %>><%=puom.pu_shortname%></option>
					   <% end end %>
					</select>

			
                                           
					</div>
						<div class="col-md-1 col-xs-1">
                                         <a href="javascript:void(0);" style="font-size:20px" title="Add product uom" data-toggle="modal" data-target="#myProductUom" onclick="callFoucsOnModal('pu_shortname');"><i class="fa fa-plus-circle"></i>  </a>
                                       </div>
					</div>

						<div class="row form-group">
				
					   <label class="col-form-label col-md-2">
					Purchase Rate
					</label>
					<div class="col-md-3 col-xs-6">
					
								<input type="text" tabindex="15" autocomplete="off"  onkeypress="return isNumberFloatKey(event);" maxlength="9" placeholder="" class="form-control invt_pull_right nml6" name="pd_purchaserate" id="pd_purchaserate" value="<% if @isProduct.to_s!='' %><%=(@isProduct.pd_purchaserate.to_f >0 ? currency_formatted(@isProduct.pd_purchaserate) : '' )%><% elsif session[:postedpamams]!=nil %><%=(session[:postedpamams]['pd_purchaserate'].to_f >0 ? currency_formatted(session[:postedpamams]['pd_purchaserate']) : '' ) %><% end %>"/>
			
                                           
					</div>
				

					   <label class="col-form-label col-md-2">
					MRP
					</label>
					<div class="col-md-2 col-xs-6">
					
							 <input type="text" tabindex="10" autocomplete="off"  onkeypress="return isNumberFloatKey(event);" maxlength="10" placeholder="" class="form-control invt_pull_right nml6" name="pd_mrps" id="pd_mrps" value="<% if @isProduct.to_s!='' %><%=( @isProduct.pd_mrps.to_f >0 ? currency_formatted(@isProduct.pd_mrps) : '' )%><% elsif session[:postedpamams]!=nil %><%=(session[:postedpamams]['pd_mrps'].to_f >0 ? currency_formatted(session[:postedpamams]['pd_mrps']) : '' ) %><% end %>"/>

			
                                           
					</div>
					
					</div>
					<div class="row form-group">
				
					<div class="col-md-2 col-xs-6">
					 Description
					</div>
					<div class="col-md-3 col-xs-6">
					<input type="text" maxlength="250" autocomplete="off"  tabindex="8" placeholder="" class="form-control" name="pd_productdescription" id="pd_productdescription" value="<% if @isProduct.to_s!='' %><%=@isProduct.pd_productdescription%><% elsif session[:postedpamams]!=nil %><%=session[:postedpamams]['pd_productdescription']%><% end %>"/>
				
					</div>
					</div>

				
				
     <div class="submit-section">
          <a href="javascript:void(0);" onclick="product_master_saving();"> <button class="btn btn-primary submit-btn">Save </button></a>
          <a href="javascript::"><button class="btn btn-danger submit-btn m-l-5  " type="button">Quit</button></a>
        </div>
                                           
                                           
                                          
                                   <% end %>
			           </div>
			        </div>
			    </div>
			  <!-- END SAMPLE TABLE PORTLET-->
			   </div>
			   </div>
                          <% if @isProduct!=''%>
                           <div class="row">
				<div class="col-md-12">
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
							<div class="portlet-body">

							<div class="table-responsive">
							<div class="row">
							<div class="col-md-12">
								<table class="table table-hover">
                                                                  <thead>
                                                                   <th style="text-align:right;" colspan="9">
                                                                    <a href="javascript:;" title="Add Files/Images" data-toggle="modal" data-target="#myXCatlogModal" onclick="get_catalog_items('','','','');">
                                                                        <img src="<%=root_url%>images/addlist.png"/>
                                                                     </a>
                                                                    </th>
                                                                </thead>
								<thead>
								<tr class="head_table">
									<th>
										SL. No.
									</th>

									<th>
									       Title
									</th>                                                                      
                                                                        

                                                                        <th>
										Image
									</th>

                                                                        <th colspan="2">
									Action
									</th>
								</tr>
								</thead>
								<tbody>
								<%
                                                                pagestart = params[:page] ? params[:page] : 1
                                                                if pagestart.to_i <=1
                                                                  i = 1
                                                                else
                                                                  i = ((pagestart.to_i-1)*10)+1
                                                                  i = i.to_i
                                                                end                                                                
                                                                if @ProductCatlog.length >0
                                                                 @ProductCatlog.each do | pds |
                                                                %>
									<tr>
									<td id="center">
									<%=i%>
									</td>
                                                                        <td>
                                                                          <%=pds.pct_titles.to_s.capitalize%>
									</td>
                                                                       
                                                                        <td id="center">
                                                                           <% if pds.pct_origin_img!='' && pds.pct_origin_img!=nil %>
                                                                          <a   class="example-image-link" data-lightbox="example-1" href="<%=root_url%>images/product/original/<%=pds.pct_origin_img%>">
									   <img src="<%=root_url%>images/product/small/<%=pds.pct_origin_img%>" alt="<%=pds.pct_titles%>"  style="width: 50px;height: 50px"  title="<%=pds.pct_titles%>" />
                                                                          </a>
                                                                        <% else %>
                                                                           ---
                                                                          <% end %>
                                                                        </td>                                                                         
									<td id="center">
									<a href="javascript:;" data-toggle="modal" data-target="#myXCatlogModal" id="isrelay<%=pds.id%>" rel="<% if pds.pct_origin_img!='' && pds.pct_origin_img!=nil %><%=root_url%>images/product/small/<%=pds.pct_origin_img%><% end %>" onclick="get_catalog_items('<%=pds.id%>','<%=pds.pct_isprimary%>','<%=pds.pct_titles%>','<%=pds.pct_origin_img%>');"><i class="fa fa-pencil-square-o edit hrmsfonts_size" aria-hidden="true"></i></a>
                                                                        
                                                                        </td>
                                                                        <td id="center">
                                                                        	<a href="javascript:void(0);" rel="<%=root_url%>product/catalogdeleteallitems/<%=pds.id%>/deletes" onclick="confirmDeletion(this);"><i class="fa fa-trash-o hrmsfonts_size delete" aria-hidden="true"></i></a>
                                                                        </td>

								</tr>
								<%
                                                                i +=1
                                                                end
                                                                else
                                                                %>
                                                                <tr><td>No Records Found</td>
									</tr>
									<% end %>
								</tbody>
								</table>
							     
                                                          <!-- END SAMPLE TABLE PORTLET-->
                                                            </div>
                                                           </div>
							  </div>
							</div>
						     </div>
					         </div>

				    </div>
                          <% end %>
			<!------------------text End-------------->

                   <!-- Modal  for Product Category-->
                      <div class="modal fade" id="myProductCategory" role="dialog" style="margin-top:80px;">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                       	<div class="modal-header">
								<h5 class="modal-title">Add Product Category</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
                            <div class="modal-body">
                                <!--Start Modal Body-->
                                <input type="hidden"  id="ispickcatId" value=""/>
                                <input type="hidden"  id="takencategory" value=""/>

                                            <div class="form-group row">
                                                    <div class="col-md-6 "><label>Category Name <span class="mandatory">*</span></label></div>
                                                    <div class="col-md-6" >
                                                            <input type="text" autocomplete="off" maxlength="60" required class="form-control" name="pc_categoryname" id="pc_categoryname" value=""/>
                                                    </div>
                                                   
                                            </div>
                                            

                                            
                                           

                                           
                                            

                                            
                                            			<div class="submit-section row">
										  <div class="col-md-9 col-xs-12 pull-left text-left isCatRequestProcess hidden" >Please wait....</div>
										 <a href="javascript:void(0);"   onclick="_addProductCategory_();"><button class="btn btn-primary submit-btn col-md-4" style="min-width:150px">Add</button></a>
										<a href="javascript:void(0);" onclick="common_delete_processed('PDCAT');" ><button class="btn btn-danger col-md-4 submit-btn m-l-5  " style="min-width:150px" type="button">Delete</button></a>
										 <a href="javascript:void(0);"  onclick="clearcatprocess_on_clicks();"><button class="btn btn-success submit-btn m-l-5  " style="min-width:150px" type="button">Close</button></a>
									</div>
                                            <div class="form-group clearfix">&nbsp;</div>
                                     <!--end Modal Body-->
                                            </div>
                              </div>
                            </div>
                          </div>


<div id="myProductBrand" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Product Brand</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								 <input type="hidden"  id="ispickbrandId" value=""/>
                                <input type="hidden" id="takenbrand" value=""/>

								<form>
								<div class="form-group row">
                                                    <div class="col-md-6 col-xs-6 mrg-t-7"><label>Brand Name <span class="mandatory">*</span></label></div>
                                                    <div class="col-md-6 col-xs-6">
                                                            <input type="text" placeholder="" maxlength="60" required class="form-control" autocomplete="off"  name="pb_brandname" id="pb_brandname" value=""/>
                                                    </div>
                                                    <div class="col-md-3 mrg-t-7"></div>
                                                    <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
                                            </div>
                                            <div class="form-group row">
                                                    <div class="col-md-6 col-xs-6 mrg-t-7"><label>Description<span class="mandatory">*</span></label></div>
                                                    <div class="col-md-6 col-xs-6">
                                                            <input type="text" autocomplete="off" placeholder="" maxlength="80" required class="form-control" name="pb_description" id="pb_description" value=""/>
                                                    </div>
                                            </div>
									
									<div class="submit-section row">
										  <div class="col-md-9 col-xs-12 pull-left text-left isBrandRequestProcess hidden" >Please wait....</div>
										 <a href="javascript:void(0);"   onclick="_addProductBrand_();"><button class="btn btn-primary submit-btn col-md-4" style="min-width:150px">Add</button></a>
										<a href="javascript:void(0);" onclick="common_delete_processed('PDBRD');" ><button class="btn btn-danger col-md-4 submit-btn m-l-5  " style="min-width:150px" type="button">Delete</button></a>
										 <a href="javascript:void(0);"  onclick="clearbrandprocess_on_clicks();"><button class="btn btn-success submit-btn m-l-5  " style="min-width:150px" type="button">Close</button></a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                      <!-- Modal  for Product Brand-->
  




                      <!-- Modal  for Product UOM-->
                      <div class="modal fade" id="myProductUom" role="dialog" >
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                   	<div class="modal-header">
								<h5 class="modal-title">Add Product UOM</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
                            <div class="modal-body">
                                <input type="hidden"  id="ispickuomId" value=""/>
                                <input type="hidden" id="takenuoms" value=""/>
                                <!--Start Modal Body-->
                                   	<div class="form-group row">
                                                    <div class="col-md-6 col-xs-6"><label>Short Name <span class="mandatory">*</span></label></div>
                                                    <div class="col-md-6 col-xs-6">
                                                            <input type="text" placeholder="" maxlength="25" class="form-control" autocomplete="off"  name="pu_shortname" id="pu_shortname" value=""/>
                                                    </div>

                                                   

                                            </div>
                                           	<div class="form-group row">
                                                    <div class="col-md-6 col-xs-6"><label>Description <span class="mandatory">*</span></label></div>
                                                    <div class="col-md-6 col-xs-6">
                                                            <input type="text" placeholder="" autocomplete="off"  maxlength="60" class="form-control" name="pu_longname" id="pu_longname" value=""/>
                                                    </div>
                                            </div>
                                            	<div class="submit-section row">
										  <div class="col-md-9 col-xs-12 pull-left text-left isUomRequestProcess hidden" >Please wait....</div>
										 <a href="javascript:void(0);"   onclick="_addProductUom_();"><button class="btn btn-primary submit-btn col-md-4" style="min-width:150px">Add</button></a>
										<a href="javascript:void(0);" onclick="common_delete_processed('PDUOM');" ><button class="btn btn-danger col-md-4 submit-btn m-l-5  " style="min-width:150px" type="button">Delete</button></a>
										 <a href="javascript:void(0);"  onclick="clearUomprocess_on_clicks();"><button class="btn btn-success submit-btn m-l-5  " style="min-width:150px" type="button">Close</button></a>
									</div>
                                            

                                     <!--end Modal Body-->
                                    </div>
                                </div>
                              </div>
                             </div>
      </div>
    </div>
  </div>
<!---- APP MSTAERS------------>
<!--- APP MASTER END --->


<!---- MODEL MSTAERS------------>



