<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <div class="row">
              <h3 class="page-title col-md-10">Report Full and Final</h3>
            
              <div class="col-md-2 m-b-5 ">
                <a href="<%=root_url%>full_final" class="btn add-btn float-left"><i class="fa fa-arrow-left"></i>Back to List</a>
              </div>
            
          </div>        

          <%=render'layouts/breadcrumbs'%>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
                <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>                
                 <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
                <input type="hidden" name="mid" id="mid" value="<% if @listFullFinal !=nil %><%=@listFullFinal.id%><% end %>"/>
                <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          
          <label class="col-form-label col-md-2">Department<span class="mandatory">*</span></label>
          <div class="col-md-3">
           <select class="form-control" required name="ff_departcode" id="al_depcode" onchange="get_all_sewadar_by_department();" >
             <option value="">-Select-</option>
              <%
               if @sewDepart && @sewDepart.length >0
                @sewDepart.each do |newdp|
              %>
              <option value="<%=newdp.departCode%>"  <% if @listFullFinal !=nil && @listFullFinal.ff_departcode.to_s == newdp.departCode.to_s %>selected="selected"<% end %>><%=newdp.departDescription%></option>
              <%
                end
              end
             %>
            </select>
          </div>
         
          <label class="col-form-label col-md-2">Sewadar Code<span class="mandatory">*</span></label>
          <div class="col-md-3">

            <select class="form-control"   name="ff_sewacode" required id="al_sewadarcode" onchange="fill_from_sewadar_listed('code');">
              <option value="">-Select-</option>
              <%
               if @empDetail && @empDetail.length >0
                @empDetail.each do |sewdnm|
              %>
              <option value="<%=sewdnm.sw_sewcode%>" <% if @listFullFinal !=nil && @listFullFinal.ff_sewacode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %> ><%=sewdnm.sw_sewcode%></option>
              <%
                end
              end
             %>
            </select>
          </div>

      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
           <label class="col-form-label col-md-2">Sewadar<span class="mandatory">*</span></label>
          <div class="col-md-3">
            
                  <select class="form-control" autofocus="" required name="ls_empcode" id="alsewdarname" onchange="fill_from_sewadar_listed('sewadar');">
                    <option value="">-Select-</option>
                        <%
                      if @empDetail && @empDetail.length >0
                        @empDetail.each do |sewdnm|
                      %>
                      <option value="<%=sewdnm.sw_sewcode%>" <% if @listFullFinal !=nil && @listFullFinal.ff_sewacode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %> ><%=sewdnm.sw_sewcode%></option>
                      <%
                        end
                      end
                    %>
                    </select>
           
          </div>
          
          
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
           
          <div class="col-md-3">
            <input type="radio" checked="checked" name="ex_gratia" id="ex_gratia" value="EXG"/>&nbsp;Ex-Gratia&nbsp;<input type="radio" name="ex_gratia" id="ex_gratia_1" value="DCHK"/>&nbsp;Due Check
           
          </div>
          
          
      </div>
        
         




         
                  </div>
                  
        <div class="submit-section">
          <a href="javascript:;" id="printexceled" rel="<%=@printPath%>" onclick="print_salary_excel_register();"><button type="button" class="btn btn-primary submit-btn">Print</button></a>
          <a href="<%=root_url%>full_final"><button class="btn btn-danger submit-btn m-l-5  " type="button">Quit</button></a>
        </div>
        </div>



        
          
        
      </div>
                <% end %>
    </div>
  </div>
  <!-- /Page Content -->
