<!-- Page Wrapper -->
<div class="page-wrapper">
<!-- Page Content -->
<div class="content container-fluid">
<!-- Page Header -->
<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Manage Locations</h3>
<%=render'layouts/breadcrumbs'%>
</div>

</div>
</div>
<!-- /Page Header -->
<% if flash[:error] %>
<div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
<%= flash[:error] %>
</div>
<% end %>


<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-body">

<ul class="nav nav-tabs nav-justified" style="border-bottom: 1px solid #018be3;">
<li class="nav-item"><a class="nav-link  <% if session[:requested_tabname] && session[:requested_tabname] == 'HO'%>active<% elsif session[:requested_tabname] == nil %>active<%end %>" onclick="check_tab_listing('HO');" href="javascript:;" data-toggle="tab">HO Location</a></li>
<li class="nav-item"><a class="nav-link <% if session[:requested_tabname] && session[:requested_tabname] == 'SHO'%>active<%end %>" onclick="check_tab_listing('SHO');" href="javascript:;" data-toggle="tab">HO Sub Locations</a></li>

</ul>

  <%
  mytabclassfirst = "active"
  mytabclasssecond = ""
  if session[:requested_tabname] && session[:requested_tabname] == 'HO'
      mytabclassfirst = "active"
      mytabclasssecond = ""
  elsif session[:requested_tabname] && session[:requested_tabname] == 'SHO'
      mytabclassfirst = ""
      mytabclasssecond = "active"
  end

 %>
<div class="tab-content">
<div class="tab-pane show <%=mytabclassfirst%>" id="basic-justified-tab1">
<%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
<input type="hidden" id="userXRoot" value="<%=root_url%>"/>
<input type="hidden" id="requestserver" name="requestserver" value="Y"/>



<div class="row filter-row">

<div class="col-md-2">
Search 
</div>

<div class="col-md-3">
<input type="text"  name="search_departcode" placeholder="description" class="form-control" id="search_departcode" value="<% if @search_departcode %><%=@search_departcode%><% end %>"/>
</div>

<div class="col-md-2">

<a href="javascript:;" class="btn btn-success btn-sm"  onclick="filter_headoffice();"><i class="la la-search"></i> Search </a>


</div>

</div>
<% end %>
<div class="row">
<div class="col-md-12">
<div>
<a href="<%=root_url%>head_office/add_head_office" class="btn add-btn float-left"><i class="fa fa-plus"></i>Add HO Location</a>
<%
if @ListHeadOffice.length >0
%>
  
                     <div class="col-auto float-right ml-auto">
        <div class="btn-group btn-group-sm">
<a  class="btn btn-white"href="<%=@printpath%>" class="btn btn-white">CSV</a>

<a href="<%=@printpdfpath%>" target="_blank" class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</a>
</div>
</div>
    <% end %>
</div>
<div class="table-responsive scroll">
<table class="table table-striped mb-0 ">
<thead class="new_tblhead">
<tr>
<th style="width: 30px;">#</th>

<th>Description</th>

<th class="text-right">Action</th>
</tr>
</thead>
<tbody>
                                    <%
                                     pagestart = params[:page] ? params[:page] : 1
                                    if pagestart.to_i <=1
                                      i = 1
                                    else
                                      i = ((pagestart.to_i-1)*10)+1
                                      i = i.to_i
                                    end
                                     if @ListHeadOffice.length >0
                                      @ListHeadOffice.each do |newdeg|
                                    %>
<tr>
<td><%=i%></td>

<td><%=newdeg.hof_description%></td>

<td class="text-right">
                                                            <div class="dropdown dropdown-action">
                                                                <a href="javascript:;" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="<%=root_url%>head_office/add_head_office/<%=newdeg.id%>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                    <a class="dropdown-item" onclick="alertChecked('<%=root_url%>head_office/<%=newdeg.id%>/deletes');" href="javascript:;" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                </div>
</div>
</td>
</tr>
                                          <%
                                            i +=1
                                           end
                                         else
                                         %>
                                          <tr>
                                            <td colspan="4">
                                              No record(s) found.
                                            </td>
                                          </tr>
                                          <%
                                           end
                                         %>


</tbody>
</table>

</div>
</div>
</div>



</div>
<div class="tab-pane <%=mytabclasssecond%>" id="basic-justified-tab2">
<%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:submyforms ) do  %>
<input type="hidden" id="userXRoot" value="<%=root_url%>"/>
<input type="hidden" id="requestserver" name="requestserver" value="Y"/>

<div class="row filter-row">

<div class="col-md-2">
Search 
</div>

<div class="col-md-3">
<input type="text"  name="search_sub_departcode" placeholder="Description" class="form-control" id="search_sub_departcode" value="<% if @search_sub_departcode %><%=@search_sub_departcode%><% end %>"/>
</div>

<div class="col-md-2">

<a href="javascript:;" class="btn btn-success btn-sm"  onclick="filter_sublocation();"><i class="la la-search"></i> Search </a>


</div>

</div>
<% end %>
<div class="row">
<div class="col-md-12">
<div>
<a href="<%=root_url%>sub_location/add_sub_location" class="btn add-btn float-left"><i class="fa fa-plus"></i>Add HO Sub Location</a>
<%
if @ListHeadOffice.length >0
%>
  
                     <div class="col-auto float-right ml-auto">
        <div class="btn-group btn-group-sm">
<a  class="btn btn-white"href="<%=@printpathsub%>" class="btn btn-white">CSV</a>

<a href="<%=@printpdfpathsub%>" target="_blank" class="btn btn-white"><i class="fa fa-print fa-lg"></i> Print</a>
</div>
</div>
    <% end %>
</div>
<div class="table-responsive scroll">
<table class="table table-striped mb-0 ">
<thead class="new_tblhead">
<tr>
<th style="width: 30px;">#</th>

<th>Description</th>
<th>HO Location</th>
<th class="text-right">Action</th>
</tr>
</thead>
<tbody>
                                    <%
                                     pagestart = params[:page] ? params[:page] : 1
                                    if pagestart.to_i <=1
                                      i = 1
                                    else
                                      i = ((pagestart.to_i-1)*10)+1
                                      i = i.to_i
                                    end
                                     if @subloction.length >0
                                      @subloction.each do |newdeg|
                                        locname = ""
                                        locobj = get_ho_location(newdeg.sl_locid)
                                          if locobj
                                            locname = locobj.hof_description
                                          end
                                      %>
<tr>
<td><%=i%></td>

<td><%=newdeg.sl_description%></td>
<td><%=locname%></td>
<td class="text-right">
                                                            <div class="dropdown dropdown-action">
                                                                <a href="javascript:;" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                    <a class="dropdown-item" href="<%=root_url%>sub_location/add_sub_location/<%=newdeg.id%>"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                                    <a class="dropdown-item" onclick="alertChecked('<%=root_url%>sub_location/<%=newdeg.id%>/deletes');" href="javascript:;" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                                </div>
</div>
</td>
</tr>
                                          <%
                                            i +=1
                                           end
                                         else
                                         %>
                                          <tr>
                                            <td colspan="4">
                                              No record(s) found.
                                            </td>
                                          </tr>
                                          <%
                                           end
                                         %>


</tbody>
</table>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>





</div>
<!-- /Page Content -->
</div>