<!-- Page Wrapper -->
<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <div class="row">
              <h3 class="page-title col-md-10">Manage Transaction</h3>
            
              <div class="col-md-2 m-b-5 ">
                <a href="<%=root_url%>transactions" class="btn add-btn float-left"><i class="fa fa-arrow-left"></i>Back to List</a>
              </div>
            
          </div>        

          <%=render'layouts/breadcrumbs'%>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
                <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
                <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>                
                 <input type="hidden"  id="rootXPath" value="<%=root_url%>"/>
                <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          
          <label class="col-form-label col-md-2">Department<span class="mandatory">*</span></label>
          <div class="col-md-3">
             <select class="form-control" name="trns_depcode" id="al_depcode" onchange="get_all_sewadar_by_department();">
                                        <option value="">-Select -</option>
                                        <%
                                          mydepartlist = get_sewa_all_department()
                                          if mydepartlist.length >0
                                           mydepartlist.each do |nedpts|
                                        %>
                                        <option value="<%=nedpts.departCode%>" <% if @sewadar_departments && @sewadar_departments.to_s.strip == nedpts.departCode.to_s.strip %>selected="selected"<% end %> ><%=nedpts.departDescription%></option>
                                        <%
                                           end
                                         end

                                         %>

                                        </select>
          </div>
         
          <label class="col-form-label col-md-2">Sewadar Code<span class="mandatory">*</span></label>
          <div class="col-md-3">

          <select class="form-control" required name="trns_empcode" id="al_sewadarcode" onchange="fill_from_sewadar_listed('code');">
             
              <%
              if @markedFieldAlw
             %>
               <option value="">-Select-</option>
              <% end %>
              <%
               if @Allsewobj && @Allsewobj.length >0
                @Allsewobj.each do |sewdnm|
              %>
              <option value="<%=sewdnm.sw_sewcode%>" <% if @LoanRequest && @LoanRequest.al_sewadarcode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %> ><%=sewdnm.sw_sewcode%></option>
              <%
                end
              end
             %>
            </select>
   
          </div>

      </div>

      <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
         
          <label class="col-form-label col-md-2">Sewadar<span class="mandatory">*</span></label>
          <div class="col-md-3">
            
                   	<select required class="form-control" name="sewdarname" id="alsewdarname" onchange="fill_from_sewadar_listed('sewadar');">
              <%
              if @markedFieldAlw
             %>
               <option value="">-Select-</option>
              <% end %>
              <%
               if @Allsewobj && @Allsewobj.length >0
                @Allsewobj.each do |sewdnm|
              %>
              <option value="<%=sewdnm.sw_sewcode%>" <% if @LoanRequest && @LoanRequest.al_sewadarcode.to_s == sewdnm.sw_sewcode.to_s %>selected="selected"<% end %>><%=sewdnm.sw_sewadar_name%></option>
              <%
                end
              end
             %>
            </select> 
          </div>
           
          <label class="col-form-label col-md-2">Transaction Type<span class="mandatory">*</span></label>
          <div class="col-md-3">
            <select class="form-control" autofocus="" required name="trns_type" id="trns_type" onchange= "selectedSubjectName()" >
                      <option value="">Select</option>
                      <option value="Department" >Department</option>   
                      <option value="Designation">Designation</option>   
                      <option value="Category">Category</option>   
                      <option value="Extension">Extension</option>   
                    </select>
          </div>
         
      </div>
       <div class="form-group row">
          
          <label class="col-form-label col-md-2">Old <span class = "change_detail" > </span><span class="mandatory">*</span></label>
          <div class="col-md-3">          
            <input type="text" readonly class="form-control" name="trns_old" id="trns_old" >
                                       
         
          
          </div>
         
          <label class="col-form-label col-md-2">Current <span class = "change_detail" > </span> <span class="mandatory">*</span></label>
          <div class="col-md-3">
            <input type="text" class="form-control hidden extenstion" maxlength="2" onkeypress="return isNumberKeys(event);" name="extenstion" id="extenstion" >
            <select class="form-control othertextenstion" name="trns_change" id="trns_change">
                    <option value="">-Select -</option>
            </select>
          </div>

      </div>
    
        <div class="form-group row">
          <label class="col-form-label col-md-2">Effective Month <span class="mandatory">*</span></label>
          <div class="col-md-2">
            <select class="form-control" autofocus="" required name="trns_mon" id="ls_leave_code" onchange="get_leave_balance();">
               <option value="">Select Month</option>
                    <option value="1"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 1%> selected="selected" <% end %> >Jan</option>
                    <option value="2"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 2%> selected="selected" <% end %>>Feb</option>
                    <option value="3"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 3%> selected="selected" <% end %>>Mar</option>
                    <option value="4"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 4%> selected="selected" <% end %>>Apr</option>
                    <option value="5"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 5%> selected="selected" <% end %>>May</option>
                    <option value="6"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 6%> selected="selected" <% end %>>Jun</option>
                    <option value="7"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 7%> selected="selected" <% end %>>Jul</option>
                    <option value="8"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 8%> selected="selected" <% end %>>Aug</option>
                    <option value="9"   <% if @HeadHrp && @HeadHrp.hph_months.to_i == 9%> selected="selected" <% end %>>Sep</option>
                    <option value="10"  <% if @HeadHrp && @HeadHrp.hph_months.to_i == 10%> selected="selected" <% end %>>Oct</option>
                    <option value="11"  <% if @HeadHrp && @HeadHrp.hph_months.to_i == 11%> selected="selected" <% end %>>Nov</option>
                    <option value="12"  <% if @HeadHrp && @HeadHrp.hph_months.to_i == 12%> selected="selected" <% end %>>Dec</option>
                  
                    </select>
          
                  </div>
         <div class="col-md-2">
            <select class="form-control" autofocus="" required name="trns_year" id="ls_leave_code" onchange="get_leave_balance();">
               <option value="">Select Year</option>
                  <%
                    prevdate = @nbegindate
                    newprvs  = @nbegindate.to_i+5
                    while prevdate.to_i <=newprvs.to_i do
                    %>
                    <option value="<%=prevdate.to_i%>" <% if @HeadHrp && @HeadHrp.hph_years.to_i == prevdate.to_i  %>selected="selected" <% elsif prevdate.to_i == @nbegindate.to_i%> selected="selected"<% end %>><%=prevdate.to_i%></option>
                    <%
                    prevdate= prevdate.to_i+1
                    end
                    %>
                    </select>
          
                  </div>
           </div>

           <div class="form-group row">
                  <label class="col-form-label col-md-2">Effective Date <span class="mandatory">*</span></label>
                  <div class="col-md-2">            
                    <input type="text" class="form-control" name="trns_dated" id="trns_dated" value="<%=formatted_date(Date.today)%>"/>
                  </div>
         
           </div>

            <div class="form-group row">
       
            <label class="col-form-label col-md-2">Remarks<span class="mandatory">*</span></label>
            <div class="col-md-3">
              <textarea rows="2" required maxlength="250" class="form-control" name="trns_rem" id="ls_leavereson"><% if  session[:request_ls_leavereson] %><%=session[:request_ls_leavereson]%><% end %></textarea></div>
          <label class="col-form-label col-md-2">Attachment</label>
            <div class="col-md-3">
              <input type="file" class="form-control" name="trns_attachemnet" id="trns_attachemnet"/></div>
            </div>
          
          </div>
         
        <div class="submit-section">
          <button class="btn btn-primary submit-btn">Save</button>
          <a href="<%=root_url%>transactions"><button class="btn btn-danger submit-btn m-l-5  " type="button">Quit</button></a>
        </div>
        </div>
          
        
      </div>
                <% end %>
    </div>
  </div>
  <!-- /Page Content -->
