  <!-- Page Wrapper -->
            <div class="page-wrapper">
      
        <!-- Page Content -->
                <div class="content container-fluid">
        
          <!-- Page Header -->
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                   <h3 class="page-title">Manage Transactions</h3>
          <%=render'layouts/breadcrumbs'%>
              </div>
                         </div>
          </div>
          <!-- /Page Header -->
           <% if flash[:error] %>
                           <div class="alert <% if session[:isErrorhandled].to_i >0 %>alert-danger<% else %>alert-success<% end %>" style="width:900px;" id="successXMessage">
                             <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                             <%= flash[:error] %>
                           </div>
                          <% end %>
          <!-- Leave Statistics -->
       

          <%= form_tag({:action=>'create'} ,:multipart=>true,:id=>:myforms ) do  %>
          <input type="hidden" id="rootXPath" value="<%=root_url%>"/>
          <input type="hidden" id="requestserver" name="requestserver" value="Y"/>
                         <div class="row filter-row" style="background:#87ceeb38;padding: 10px;">

          <!-- <p>Date: <input type="text" id="datepicker"></p> -->

          <div class="col-sm-6 col-md-2">
          <div class="form-group form-focus select-focus">
          <select class="form-control" name="sewadar_departments" id="sewadar_departments" >
           
          <option value="">-Select -</option>
  
          <%
            
            if @sewDepart && @sewDepart.length >0
             @sewDepart.each do |nedpts|
          %>
          <option value="<%=nedpts.departCode%>" <% if @sewadar_departments && @sewadar_departments.to_s.strip == nedpts.departCode.to_s.strip %>selected="selected"<% end %> ><%=nedpts.departDescription%></option>
          <%
             end
           end

           %>

          </select>
          <label class="focus-label">Department</label>
          </div>
          </div>


          <div class="col-sm-6 col-md-2  ">
          <div class="form-group form-focus select-focus">
          <select class="form-control" name="sewadar_codetype" id="sewadar_codetype" >
            <option value="">-Select-</option>
          <option value="mycode" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'mycode' %>selected="selected"<% end %> >Sewadar Code</option>
          <option value="myrefcode" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myrefcode' %>selected="selected"<% end %> >Reference/Old Code</option>
          <option value="myname" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myname' %>selected="selected"<% end %>>Name</option>
          <option value="myemail" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'myemail' %>selected="selected"<% end %>>Email</option>
          <option value="mymobile" <% if @sewadar_codetype && @sewadar_codetype.to_s == 'mymobile' %>selected="selected"<% end %>>Mobile</option>

          </select>
          <label class="focus-label">Search According</label>
          </div>
          </div>
          <div class="col-sm-6 col-md-3" style="max-width: 14%;
          padding-left: 0px;
          padding-right: 0px;">
          <div class="form-group form-focus">
          <input type="text" class="form-control floating" name="sewadar_string" id="sewadar_string" value="<% if @sewadar_string %><%=@sewadar_string%><% end %>"/>
          <label class="focus-label" style="font-size:11px">Code,Name,Mobile,Email</label>
          </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating" type="text" name="search_fromdated" id="search_fromdated" value="<% if @search_fromdated %><%=formatted_date(@search_fromdated)%><% end %>"/>
								</div>
								<label class="focus-label">From</label>
							</div>
						</div>
					   <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-12 col">  
							<div class="form-group form-focus">
								<div class="cal-icon">
									<input class="form-control floating" type="text" name="search_uptodated" id="search_uptodated" value="<% if @search_uptodated %><%=formatted_date(@search_uptodated)%><% end %>"/>
								</div>
								<label class="focus-label">To</label>
							</div>
						</div>
          <div class="col-sm-6 col-md-1 m-t-5" style="padding-left: 10px">
          <a href="javascript:;" style="padding: 14px;" onclick="filter_discipline();" class="btn btn-success btn-sm" > Search </a>
          </div>

          
          </div>
<% end %>
         
          <!-- /Leave Statistics -->
          
          <div class="row">
            <div class="col-md-12">
                <div >
                                    <a href="<%=root_url%>transactions/add_transaction" class="btn add-btn float-left">Add Transaction</a>
                                     <%
                                    if @ListTransaction && @ListTransaction.length >0
                                    %>
                                     <a class="btn btn-white float-right" href="<%=root_url%><%=@printPath%>"><img src="<%=root_url%>images/excel.png" width="40" height="40"></a>
                                  <% end %>
                                  </div>
              <div class="table-responsive">
                <table class="table table-striped custom-table mb-0 datatable" id="mytrancationlisted">
                  <thead>
                    <tr>
                      <th>Sewadar</th>
                      <th>Transaction Type</th>
                      <th>Transaction Month</th>
                      <th>Transaction Year</th>
                      <th>Transaction Date(Effect)</th>
                       <th class="text-center">Remarks</th>
                       <th class="text-center">Attachment</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  <%
                     if @ListTransaction && @ListTransaction.length >0
                  
                       @ListTransaction.each do |newdiscp|

                      newsewa =  get_mysewdar_list_details(newdiscp.trns_empcode)
                      myimages = "#{root_url}assets/img/profiles/avatar-02.jpg"
                      sewdanmame   = ""
                      sewaoldcode  = ""
                      mycatgpars   = ""
                      genders      = ""
                      
                      if newsewa
                        sewdanmame = newsewa.sw_sewadar_name
                        sewaoldcode = newsewa.sw_oldsewdarcode
                        if  newsewa.sw_gender == 'M'
                           genders = "Male"
                        elsif  newsewa.sw_gender == 'F'
                          genders = "Female"
                        end

                        
                      if newsewa.sw_image !=nil && newsewa.sw_image !=''
                      chekpath = "#{Rails.root}/public/images/sewadar/"+newsewa.sw_image.to_s
                      if File.file?(chekpath)
                        myimages = "#{root_url}images/sewadar/"+newsewa.sw_image.to_s
                      end

                      end
                      end
                      mycatgpars = newsewa.sw_catgeory
                      %>
                    <tr>
                      <td>
                        
                        <h2 class="table-avatar">
                          <a href="javascript:;" class="avatar"><img alt="<%=sewdanmame%>" src="<%=myimages%>"></a>
                        <div>
                        <span> <%=newdiscp.trns_empcode%>  <% if sewaoldcode !=nil && sewaoldcode  !='' %> (<%=sewaoldcode%>)<% end %> </span>
                        <a href="javascript:;"><%=sewdanmame%></a>
                        <span><%=genders%>, <%=mycatgpars%></span>
                        </div>
                        </h2>
                        <br>               
                    
                      </td>
                      <td><%=newdiscp.trns_type%></td>
                      <td><%=get_month_listed_data(newdiscp.trns_mon)%></td>
                      <td><%=newdiscp.trns_year%></td>
                      <td><%=formatted_date(newdiscp.trns_dated)%></td>
                      <td>
                      
                       <%=newdiscp.trns_rem%>
                      
                      </td>
                      <td>
                         <% if newdiscp.trns_attachemnet != nil && newdiscp.trns_attachemnet != '' %>
                          <a href="<%=root_url%>images/transaction/<%=newdiscp.trns_attachemnet%>" target="_blank">
                          <%=newdiscp.trns_attachemnet%>
                          </a>
                          <% end %>
                      </td>
                      <td>
                      <%
                       if newdiscp.trns_status =='C'
                      %>
                        Cancelled
                       <% elsif newdiscp.trns_status =='A' %> 
                       Approved
                      <% else %>
                            <div class="dropdown dropdown-action"> <a href="javascript:;" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                          <div class="dropdown-menu dropdown-menu-right"> <a class="dropdown-item" onclick="alertChecked('<%=root_url%>transactions/<%=newdiscp.id%>/deletes');" href="javascript:;"><i class="fa fa-trash-o m-r-5"></i> Cancel</a> </div>
                        </div>
                 
                  <% end %>
                      </td>
                        <%
                          end
                        else
                    
                       %>
                      <tr>
                     <td class="text-center">No record(s found.</td>
                     </tr>
                
                     <% end%>
                    
                    
                  </tbody>
                </table>
                <div class="col-md-12 d-flex">
                                  <div class="col-md-4"></div>
                                  <div class="col-md-8"> </div>

                                  </div>
              </div>
            </div>
          </div>
                </div>
        <!-- /Page Content -->
       
        
            </div>
      <!-- /Page Wrapper -->